.card {
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.08);

    .card-title {
      font-size: 1.25rem;
      font-weight: 600;
      color: #6c63ff;
    }

    .card-text {
      font-size: 0.95rem;
      color: #666;
    }

    .btn-outline-secondary,
    .btn-outline-danger {
      border-radius: 0.5rem;
      padding: 0.4rem 0.6rem;
      transition: all 0.15s ease-in-out;
    }

    .btn-outline-secondary {
      border-color: #cfd3dc;
      color: #444;

      &:hover {
        background-color: #f4f5fa;
        color: #333;
      }
    }

    .btn-outline-danger {
      border-color: #ffccd5;
      color: #c1121f;

      &:hover {
        background-color: #ffe2e6;
      }
    }
  }

  .text-muted {
    color: #6c757d !important;
  }

  .bi-info-circle {
    font-size: 2rem;
  }

  .bi-calendar-check,
  .bi-plus-circle,
  .bi-gear-fill,
  .bi-briefcase {
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.1); /* Slightly scale up on hover */
      color: #5849f9;
    }
  }

  .empty-state {
    i {
      color: #adb5bd;
    }

    i:hover {
      color: #6c63ff;
    }

    p {
      font-size: 1.1rem;
      color: #6c757d;
    }

    .btn-primary {
      font-weight: 600;
    }
  }

  .card-price {
    font-size: 1.1rem;
    font-weight: 700;
    color: #333;
    background-color: #f4f5fa;
    padding: 0.4rem 0.6rem;
    border-radius: 0.5rem;
    display: inline-block;
    margin-top: 10px;
  }

