HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### environment variables ##
.env

### jdk ###
backend/.jdk/
backend/Dockerfile
frontend/src/app/app.routes.ts
frontend/src/app/auth/login/login.component.ts
frontend/src/app/dashboard/chat/chat.component.html
frontend/src/app/dashboard/chat/chat.component.ts
frontend/src/app/services/chat.service.spec.ts
frontend/src/app/services/chat.service.ts
frontend/src/environments/environment.prod.ts
frontend/src/environments/environment.ts
frontend/angular.json
frontend/package-lock.json
frontend/package.json
